<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>CFBundleIdentifier</key><string>io.kontourai.station.nightly</string><key>StationChannel</key><string>nightly</string><key>StationServerPort</key><integer>38141</integer><key>LSEnvironment</key><dict><key>STATION_DESKTOP_CHANNEL</key><string>nightly</string><key>STATION_DESKTOP_PORT</key><string>38141</string></dict></dict></plist>
