<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <!-- Read the previous installation before CostInitialize: INSTALLDIR is not
       resolved yet. Only application resources are removed; never Station's
       user home, logs, arbitrary files in INSTALLDIR, or another channel. -->
  <Fragment>
    <Property Id="STATION_PREVIOUS_INSTALL" Secure="yes">
      <RegistrySearch Id="StationPreviousInstall" Root="HKCU"
        Key="Software\{{manufacturer}}\{{product_name}}" Name="InstallDir" Type="raw" />
    </Property>
    <CustomAction Id="StationCleanupModules" Property="STATION_CLEANUP_MODULES" Value="[STATION_PREVIOUS_INSTALL]node_modules" />
    <CustomAction Id="StationCleanupServer" Property="STATION_CLEANUP_SERVER" Value="[STATION_PREVIOUS_INSTALL]dist-server" />
    <CustomAction Id="StationCleanupSchemas" Property="STATION_CLEANUP_SCHEMAS" Value="[STATION_PREVIOUS_INSTALL]schemas" />
    <InstallExecuteSequence>
      <Custom Action="StationCleanupModules" Before="StationCleanupServer">STATION_PREVIOUS_INSTALL</Custom>
      <Custom Action="StationCleanupServer" Before="StationCleanupSchemas">STATION_PREVIOUS_INSTALL</Custom>
      <Custom Action="StationCleanupSchemas" Before="WixRemoveFoldersEx">STATION_PREVIOUS_INSTALL</Custom>
    </InstallExecuteSequence>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="StationRuntimeCleanup" Guid="*" Win64="yes">
        <RegistryValue Root="HKCU" Key="Software\{{manufacturer}}\{{product_name}}"
          Name="RuntimeCleanup" Type="integer" Value="1" KeyPath="yes" />
        <util:RemoveFolderEx Id="StationRemoveModules" On="both" Property="STATION_CLEANUP_MODULES" />
        <util:RemoveFolderEx Id="StationRemoveServer" On="both" Property="STATION_CLEANUP_SERVER" />
        <util:RemoveFolderEx Id="StationRemoveSchemas" On="both" Property="STATION_CLEANUP_SCHEMAS" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
